@font-face {
  font-family: 'Caesar';
  src: URL('CaesarDressing-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  font-family:'Courier New', Courier, monospace
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 500ms;
}

.topnav div {
  background-color: #ffffff;
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #e1e1e1;
  color: black;
  transition-duration: 500ms;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.notif {
  color: lightslategray;
  text-align: center;
}

.LogoL {
  font-family: "Caesar", Arial, Helvetica, sans-serif
}